<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<body style="color: white; background-color: #101010;">
  <div class="container-fluid">
    <!-- Add Jumbotron to Header -->
    <div class="jumbotron text-center img-responsive"
      style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/14/Mars_Panorama_banner.jpg');">
      <h1>Mission to Mars</h1>
      <!-- Add a button to activate scraping script -->
      <p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Latest Mars Info</a>
      </p>
    </div>
    <!-- Add section for Mars News -->
    <div class="row" id="mars-news" style="padding: 0.5em; background-color:#101010;">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
            <h2 class= "text-uppercase" style="color: sienna">Latest Mars News</h2>
            <hr>
            <h4 class="media-heading">{{ mars.news_title }}</h4>
            <p class="lead">{{ mars.news_paragraph }} </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Add section for Featured Image and Facts table -->
    <div class="row" id="mars-featured-image" style="padding: 1em; background-color:#202020;">
      <div class=".col-md-12">
        <h2 style="color: sienna">Featured Mars Image</h2>
        <!-- if images is False/None/non-existent, then default to error message -->
        <img src="{{mars.featured_image | default('static/images/error.png', true) }}" class="img-fluid"
          alt="Responsive image" /><hr>
        <div class="row" id="mars-facts">
          <div class="col-md-12">
            <h3 style="color: peru">Mars Facts</h3>
            <table class="table">{{mars.facts | safe }}</table>
          </div>
        </div>
      </div>
    </div>

    <!-- Mars Hemispheres -->
    <div class="container-fluid bg-dark" style="padding:1em">
      <div class="row" id="mars-hemispheres">
        <h2 class="text-uppercase text-center"; style="color: white; padding-left:0.25em">Mars Hemispheres</h2><hr>
        <div class="row">
          {% for hemisphere in mars.hemispheres %}
          <div class="col-sm-6">
            <div class="card" style="width: 18rem; background-color: indianred; color: white">
              <div class="card-img-top">
                <img src="{{hemisphere.url | default('static/images/error.png', true)}}"
                  class="card-img-top text-center" alt="...">
                <div class="card-title text-center">
                  <h5>{{hemisphere.title}}</h5>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</body>

</html>